<header>
    <nav class="main-nav">
        <div class="nav-left">
            <span class="logo-parent"></span>
        </div>
        <div class="nav-right">
            <ul class="nav-list">
                <li class="nav-items pointer">
                    <a href="/" class="active">Home</a>
                </li>
                <li class="nav-items pointer">
                    <a href="/courses">All Courses</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1 class="home-heading">Coding Blocks Online</h1>

<div class="grid-background">
  <div class="red heading">
      <p>Learn To Code interactively</p>
  </div>
  <div class="grid row">
      <div class="row o-offerings d-flex justify-content-center">
          {{#each announcements}}
              <section class="offering-card">
                  <div>
                      <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                          <div class="left order-2 order-md-1">
                              <h1>
                                  {{attributes.title}}
                              </h1>
                              <h2>
                                  {{attributes.subtitle}}
                              </h2>
                          </div>
                      </div>
                  </div>
              </section>
          {{/each}}
      </div>
  </div>
</div>

<div class="grid-background">
  <div class="red heading">
      <p>All Courses</p>
  </div>
  <div class="grid row">
      {{#each courses as |course|}}
          <div class="card-layout col-md-4 col-sm-6">
              <div class="card o-layout-card o-course-card h-100">
                  <div class="header">
                      <h1 class="card-heading o-text-card">
                          {{#if slug}}
                              <a href="courses/{{slug}}">{{title}}</a>
                          {{else}}
                              <a href="courses/{{id}}">{{title}}</a>
                          {{/if}}
                      </h1>
                      <h2 class="card-text">
                          {{subtitle}}
                      </h2>
                      <p class="card-text card-body">
                          {{summary}}
                      </p>
                  </div>
                  <div class="row no-gutters align-items-center">
                      <div class="card-mentor col-12 col-sm-8 col-md-12">
                          <div class="card-mentor-image">
                            {{#each course.instructors as |instructor index|}}
                              {{#ifCond index '<' 2}}
                                <img class="card-mentors" src="{{instructor.photo}}">
                              {{/ifCond}}
                            {{/each}}
                          </div>
                          <div class="card-mentor-text">
                              <span>Instructors</span>
                              <div class="card-mentor-name">
                                  {{#each instructors as |instructor|}}
                                      <h2>{{instructor.name}}</h2>
                                      <div class="card-text card-body">
                                          {{{mdToHtml instructor.description}}}
                                      </div>
                                  {{/each}}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      {{/each}}
  </div>
</div>


<div class="row o-offerings">
    <div class="row flex-row w-100 justify-content-center">
        <div class="heading">
            What we offer
        </div>
    </div>
    <div class="row flex-column flex-md-row justify-content-between cards-box">

        <div class="offering-card">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                <div class="left order-2 order-md-1">
                    <h1 class="offering-card-heading">
                        Comprehensive learning
                    </h1>
                    <h2 class="card-text card-body">
                        Experienced, engaging instructors take you through course material, step by step, in our high-quality video lessons.
                        This will help you to keep your skills sharp even after completing the course.
                    </h2>
                </div>
            </div>
        </div>
        <div class="offering-card">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                <div class="left order-2 order-md-1">
                    <h1 class="offering-card-heading">
                        24*7 Mentor Support
                    </h1>
                    <h2 class="card-text card-body">
                        Our programming courses online are a flexible alternative that provides online access to our in-depth curriculum—complete
                        with real-time support from instructors, our industry-tested learning platform, hands-on assignments and much more.
                    </h2>
                </div>
            </div>
        </div>
        <div class="offering-card">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                <div class="left order-2 order-md-1">
                    <h1 class="offering-card-heading">
                        Live Webinars for Doubt Clearing
                    </h1>
                    <h2 class="card-text card-body">
                        Get exclusive access to Live Webinars where you can interact with mentors for important course topics. Every course batch has multiple live webinars
                        which is attended by 100s of students all over the world.
                    </h2>
                </div>

            </div>
        </div>
        <div class="offering-card">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                <div class="left order-2 order-md-1">
                    <h1 class="offering-card-heading">
                        Practice Assignments on HackerBlocks
                    </h1>
                    <h2 class="card-text card-body">
                        Code directly in the browser with our course challenges, bringing to life what you learned and receiving immediate,
                        helpful feedback and code validation.
                    </h2>
                </div>

            </div>
        </div>
        <div class="offering-card">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                <div class="left order-2 order-md-1">
                    <h1 class="offering-card-heading">
                        Revisit and Revise
                    </h1>
                    <h2 class="card-text card-body">
                        Study the course contents at your own pace. If you're an experienced developer then you can complete the courses in a matter of days.
                        If you want to take things slowly you get access to courses for a minimum period of 6 months. You also get an option to purchase an extended availability of the course.
                    </h2>
                </div>

            </div>
        </div>
        <div class="offering-card">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                <div class="left order-2 order-md-1">
                    <h1 class="offering-card-heading">
                        Evaluation and Certification
                    </h1>
                    <h2 class="card-text card-body">
                        You will be assessed weekly in your path of becoming a Coding Blocks at this certification online course and all the practice,
                        assignments and tests will be done on our online automated code judge. After course completion get instructor-signed certificate with our
                        logo to verify your achievement and increase your job prospects.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>